* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

#menu {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.btn {
  width: 100%;
  height: 90px;
  font-size: 22px;
  border-radius: 18px;
  border: none;
  color: white;
  font-weight: bold;
}

.btn-scan {
  background: #0066ff;
}

.btn-new {
  background: #00a86b;
}

#reader {
  width: 100vw;
  height: 75vh;
}

.hidden {
  display: none;
}

#resultado {
  width: 90%;
  margin-top: 20px;
  text-align: center;
}

.ok {
  background: #e7fff1;
  padding: 25px;
  border-radius: 15px;
  font-size: 20px;
}
